@using BookNest.Models.Entities

@model BookNest.ViewModels.BookCreateViewModel

<div class="text-center">
    <h1 class="display-4">Create a new book</h1>
</div>

<form asp-action="Create" asp-controller="Books" method="post">

    <div class="mb-3">
        <label class="form-label" asp-for="Title"></label>
        <input class="form-control" type="text" placeholder="Enter a name" asp-for="Title">
    </div>

    <div class="mb-3">
        <label class="form-label" asp-for="AuthorId">Author</label>
        @* TODO: populate drop down *@
        <select class="form-control" asp-for="AuthorId">
            <option value="1">1</option>
            @{
                foreach (var author in Model.Authors)
                {
                    <option value="@author.Id">@author.FullName</option>
                }
            }
        </select>
    </div>

    <div class="mb-3">
        <label class="form-label" asp-for="ISBN"></label>
        <input class="form-control" type="text" placeholder="Enter a name" asp-for="ISBN">
    </div>

    <div class="mb-3">
        <label class="form-label" asp-for="Publisher"></label>
        <input class="form-control" type="text" placeholder="Enter a name" asp-for="Publisher">
    </div>

    <div class="mb-3">
        <label class="form-label" asp-for="PublicationYear">Publication Year</label>
        <input class="form-control" type="int" placeholder="Enter a name" asp-for="PublicationYear">
    </div>

    <div class="mb-3">
        <label class="form-label" asp-for="Description"></label>
        <textarea class="form-control" type="text" asp-for="Description"></textarea>
    </div>

    <button type="submit" class="btn btn-success">Add</button>

</form>