@{
    ViewData["Title"] = "Update Book";
}

@model BookNest.ViewModels.BookEditViewModel

<div class="text-center">
    <h1 class="display-4">Update a book</h1>
</div>

<form asp-action="Edit" asp-controller="Books" method="post">

    <div class="mb-3">
        <label class="form-label" asp-for="Title"></label>
        <input class="form-control" type="text" placeholder="Enter a name" asp-for="Title">
    </div>

    <div class="mb-3">
        <label class="form-label" asp-for="AuthorId">Author</label>

        <select class="form-control" asp-for="AuthorId">
            @{
                foreach (var author in Model.Authors)
                {
                    <option value="@author.Id">@author.FullName</option>
                }
            }
        </select>
    </div>

    <div class="mb-3">
        <label class="form-label" asp-for="ISBN"></label>
        <input class="form-control" type="text" placeholder="Enter a ISBN" asp-for="ISBN">
    </div>
    
    <div class="mb-3">
        <label class="form-label" asp-for="IsAvailable"></label>
        <input type="checkbox"  asp-for="IsAvailable">
    </div>

    <div class="mb-3">
        <label class="form-label" asp-for="Publisher"></label>
        <input class="form-control" type="text" placeholder="Enter a publisher" asp-for="Publisher">
    </div>

    <div class="mb-3">
        <label class="form-label" asp-for="PublicationYear">Publication Year</label>
        <input class="form-control" type="int"  asp-for="PublicationYear">
    </div>

    <div class="mb-3">
        <label class="form-label" asp-for="Description"></label>
        <textarea class="form-control" type="text" asp-for="Description"></textarea>
    </div>

    <button type="submit" class="btn btn-success">Update</button>

</form>