@using BookNest.Models.Entities

@model BookNest.Models.Entities.Author

<div class="text-center">
    <h1>Create new Author</h1>
</div>

<form asp-action="Create" asp-controller="Authors" method="post">

    <div class="mb-3">
        <label class="form-label" asp-for="FirstName"></label>
        <input class="form-control" type="text" placeholder="Enter a name" asp-for="FirstName">
    </div>

    <div class="mb-3">
        <label class="form-label" asp-for="LastName"></label>
        <input class="form-control" type="text" placeholder="Enter a last name" asp-for="LastName">
    </div>

    <div class="mb-3">
        <label class="form-label" asp-for="DateOfBirth"></label>
        <input class="form-control" type="date" asp-for="DateOfBirth">
    </div>

    <div class="mb-3">
        <label class="form-label" asp-for="Biography"></label>
        <textarea class="form-control" type="text" asp-for="Biography"></textarea>
    </div>


    <button type="submit" class="btn btn-success">Add</button>

</form>