@using BookNest.Models.Entities

@model BookNest.Models.Entities.Author

<div class="text-center">
    <h1>Edit Author</h1>
</div>
<hr>
@await Html.PartialAsync("_AlertsPartial")

<br>

<form asp-action="Edit" asp-controller="Authors" method="post">
    <input hidden type="number" class="form-control" asp-for="Id">

    <div class="mb-3">
        <label class="form-label" asp-for="FirstName"></label>
        <input class="form-control" type="text" placeholder="Enter a name" asp-for="FirstName">
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label class="form-label" asp-for="LastName"></label>
        <input class="form-control" type="text" placeholder="Enter a last name" asp-for="LastName">
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label class="form-label" asp-for="DateOfBirth"></label>
        <input class="form-control" type="date" asp-for="DateOfBirth">
        <span asp-validation-for="DateOfBirth" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label class="form-label" asp-for="Biography"></label>
        <textarea class="form-control" type="text" asp-for="Biography"></textarea>
        <span asp-validation-for="Biography" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-success">Update</button>

</form>